.wrapper {
    width: 700px;
    height: 400px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbersBlock {
    display: grid;
    grid-template: 1fr 1fr / repeat(5, 1fr);
}

.numberFalse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 1px 0 black;
    cursor: pointer;
}

.numberFalse:hover {
    background-color: rgb(203, 243, 230);
}

.numberTrue {
    background-color: pink;
}

.button {
    margin-top: 30px;
    color: rgb(12, 146, 103);
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 0 black;
}

.button:hover {
    background-color: rgb(175, 241, 220);
}
